@model IEnumerable<Applikacio2.Models.ListedEvent>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            
            <th>@Html.DisplayNameFor(model => model.Date)</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
      
    </tbody>
</table>

