@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Registry</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Fejlesztési feladat</h2>
        <p>
            Készítsen web-alkalmazást C# alapon a következő kritériumoknak megfelelően:
            <h4>I. rész</h4>
            <ul>
                <li>
                    a.	Hozza létre a kapott CSV állomány szerinti adatbázis táblákat MSSQL adatbázisban, aszerint hogy a fájl neve egyezzen meg a tábla nevével, valamint a fájlok első sora a táblázat mezőinek nevét tartalmazza
                </li>
                <li>
                    b.	Hozzon létre egy olyan web alapú alkalmazást, amely képes kapcsolódni a létrehozott adatbázishoz, és jelenítse meg a következőket az adatbázisból lekérdezve az alkalmazás egy-egy lapján:
                    <ul>

                        <li>
                            1.	A dokumentumok táblából jelenítsen meg minden olyan elemet, aminek nincs szülő dokumentuma, beérkezési sorrendben
                        </li>
                        <li>
                            2.	Az egyes dokumentumokra kattintva új oldalon jelenítse meg a dokumentumhoz tartozó eseményeket időrendben növekvő sorrendben, valamint az összes gyerek dokumentumot létrehozási sorrendben
                        </li>
                        <li>
                            3.	A gyerek dokumentumokra kattintva szintén új lapon jelenjen meg a dokumentumhoz tartozó minden esemény időrendi sorrendben
                        </li>
                    </ul>
                </li>
                <li>
                    c.	Hozzon létre keresési lehetőséget a felülethez, amivel dokumentum névre lehet keresni. A találatokat tegye kattinthatóvá, hogy az adatlapja megjeleníthető legyen
                    </li>
            </ul>
            <h4>II. rész</h4>
            <ul>

                <li>
                    a.	A fenti alkalmazáshoz készítsen beléptetési rendszert, felhasználónév és jelszó mezőkkel.
                </li>
                <li>
                    b.	A beléptetéshez szükséges felhasználói adatokat tárolja adatbázisban
                </li>
                <li>
                    c.	Bejelentkezés nélkül ne lehessen megtekinteni egyik oldalt sem.
                </li>
                <li>
                    d.	5 Sikertelen bejelentkezés után tegye inaktívvá a fiókot, de ne törölje! (amíg ebben az állapotban van, ne lehessen bejelentkezni ezzel a fiókkal, és erre legyen egy figyelmeztető ablak is megjelenítve)
                </li>
                <li>
                    e.	Készítsen adatbázistáblát a bejelentkezések logolására, amiben tárolja a következő adatokat:

                    <ul>
                        <li>
                            •	Kliens IP címe
                        </li>
                        <li>
                            •	Esemény pontos ideje
                        </li>
                        <li>
                            •	Próbálkozott bejelentkezési név
                        </li>
                        <li>
                            •	Esemény leírása (pl: sikeres/sikertelen bejelentkezés, fiók tiltása)
                        </li>
                    </ul>
                </li>
            </ul>
            Az oldal design-ja áttekinthető kell legyen, további megkötés a felhasznált keretrendszerekre, megjelenésre nincs.
            Az elkészült feladat teljes solution-jét csomagolja be az adatbázis SQL export fájljával együtt, ami tartalmazza a strukturát és az adatokat is, majd küldje vissza e-mailben.

        </p>
    </div>
</div>
